[core]
  excludesfile = ~/.gitignore
  editor = vim
[branch]
  autosetuprebase = always
[fetch]
  prune = true
[github]
  user = elspethsoup
[rebase]
  autosquash = true
  autoStash = true
  updateRefs = true
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
  default = upstream
[pull]
  rebase = true

{{ if not .spin -}}
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[user]
  name = {{ .name }}
  email = {{ .email }}
  signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub
[commit]
  gpgsign = true
[gpg]
  format = ssh
{{- end }}
